<table style="width: 100%; max-width: 660px; margin-left: auto; margin-right:auto;font-family: 'Rubik', sans-serif;">
    <%- await include('header'); -%>
        <tr>
            <td>
                <table style="width: 100%; font-family: 'Rubik', sans-serif;">
                    <tr>
                        <td style="padding: 20px 24px 60px 24px; font-family: 'Rubik', sans-serif;">
                            <table>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">Ciao,</td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">Saluti!<br /><br /></td>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">Sei a un passo dall'accedere al tuo account Invoice Backend.</td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">Ti stiamo inviando un link di verifica per accedere al tuo account.<br />
                            Una volta verificato il link, ti verrà richiesto di accedere immediatamente. Questo serve a garantire che solo tu possa accedere al tuo account.<br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">Il tuo link:
                            <a href="<%= link %>"
                                style="color: #4D7CFE; font-family: 'Rubik', sans-serif; letter-spacing:2px; text-decoration: none;"
                                target="_blank">
                                Clicca qui per verificare il tuo account
                            </a>
                            <br /><br />
                        </td>
                    </tr>
                    <tr>
                        <!-- <td style="font-family: 'Rubik', sans-serif;">Expires in: 10 minute<br /><br /></td> -->
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">
                            Cordiali saluti,<br />
                            Team Invoice Backend
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
        <%- await include('footer'); -%>
</table>
</td>
</tr>
</table>