<tr>
    <td style="background: #E7E7E7; text-align: center;font-family: 'Rubik', sans-serif;">
        <table style="width: 100%; text-align: center;">
            <tr>
                <td style="padding-bottom: 16px;">
                    <!-- <img src="" /> -->
                </td>
            </tr>
            <tr>
                <td  style="font-size: 10px; color: #000; line-height: 12px;font-family: 'Rubik', sans-serif;">
                    <a style="font-size: 10px; color: #000; line-height: 12px;" href="#" >Termini di utilizzo</a> | <a href="#" style="font-size: 10px; color: #000; line-height: 12px;">Informativa sulla privacy</a> | <a href="#" style="font-size: 10px; color: #000; line-height: 12px;">Avvisi legali e condizioni</a>
                </td>
            </tr>
            <tr>    
                <td style="font-size: 10px; color: #000; line-height: 12px;padding: 8px 0;font-family: 'Rubik', sans-serif;">
                    Contattaci a no-reply@caleffionline.it
                </td>
            </tr>
            <tr>    
                <td style="font-family: 'Rubik', sans-serif; font-size: 8px; color: #000; line-height: 10px; padding: 0 0 8px 0;">
                    © Invoice Backend, Tutti i diritti riservati.
                </td>
            </tr>                                        
        </table>
    </td>
</tr>