<table style="width: 100%; max-width: 660px; margin-left: auto; margin-right:auto;font-family: 'Rubik', sans-serif;">
    <%- await include('header'); -%>
        <tr>
            <td>
                <table style="width: 100%; font-family: 'Rubik', sans-serif;">
                    <tr>
                        <td style="padding: 20px 24px 60px 24px; font-family: 'Rubik', sans-serif;">
                            <table>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">Ciao,</td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">Saluti!<br /><br />
                                    </td>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">Abbiamo rilevato che uno o più dei tuoi prodotti
                            hanno un livello di inventario negativo.
                            <br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">
                            Ti invitiamo a controllare il tuo inventario per evitare eventuali problemi con la
                            disponibilità dei prodotti sulla piattaforma.
                            Assicurati che i dati siano aggiornati e corretti.
                            <br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">
                            Puoi verificare i dettagli direttamente accedendo al tuo account Invoice Backend.<br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Rubik', sans-serif;">
                            Grazie per far parte di Invoice Backend!<br /><br />
                            Cordiali saluti,<br />
                            Team Invoice Backend
                        </td>
                    </tr>
                </table>
            </td>
 
        </tr>
        <%- await include('footer'); -%>
</table>
</td>
</tr>
</table>